<beans xmlns="http://www.springframework.org/schema/beans"

   xmlns:context="http://www.springframework.org/schema/context"

   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

   xmlns:mvc="http://www.springframework.org/schema/mvc"
   xmlns:tx="http://www.springframework.org/schema/tx"

   xsi:schemaLocation="

        http://www.springframework.org/schema/beans

        http://www.springframework.org/schema/beans/spring-beans.xsd

        http://www.springframework.org/schema/mvc

        http://www.springframework.org/schema/mvc/spring-mvc.xsd

        http://www.springframework.org/schema/context
        

         http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx
    	http://www.springframework.org/schema/tx/spring-tx.xsd
         "
        
         >

   <context:component-scan
      base-package="inventory" />

   <mvc:annotation-driven ></mvc:annotation-driven>

   <mvc:resources  location="/static/" mapping="/resources/**" cache-period="31556926" />
    <bean
      class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      
      <property name="order" value="1"/>

      <property name="prefix" value="/WEB-INF/views/" />

      <property name="suffix" value=".jsp" />

   </bean>
   
   <bean class="org.springframework.beans.factory.config.ProperyPlaceholderConfigurer">
   	<property name="location">
   		<value>classpath:jdbc.properties</value>
   	</property>
   </bean>
   <bean id="dataSource"
   class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
   <property name="driverClassname" value="${jdbc.driverClassName}"   ></property>
   <property name="url" value="${jdbc.url}"></property>
   <property name="username" value="${jdbc.username}"></property>
   <property name="password" value="${jdbc.password}"></property>
   
   </bean>
   <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSesstionFactoryBean">
   <property name="dataSource" ref="dataSource" ></property>
   <property name="hibernateProperies" value="classpath:hibernate.properites"></property>
   </bean>
   
   <tx:annotation-driven transaction-manager="transactionManager" />
  	
  	<bean id="transactionManager"
  	class="org.springframework.orm.hibernate5.HibernateTransactionManager">
  	<property name="sessionFactory" ref="sessionFactory"></property>
  	</bean>
</beans>